<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">新增品牌</h4>
    </div>
    <form role="form" method="post" action="/cmdt_brand/insert" enctype="multipart/form-data">
      <input type="hidden" id="csrf" name="csrf" value="<%=csrf%>">
      <div class="modal-body">


        <div class="form-group">
          <label for="add_brand_name">名称</label>
          <input type="text" class="form-control" id="add_brand_name" name="name" placeholder="必填" required>
        </div>
        <div class="form-group">
          <label for="add_brand_desc">备注</label>
          <input type="text" class="form-control" id="add_brand_desc" name="desc" placeholder="">
        </div>
        <div class="form-group">
          <label for="add_brand_logo">logo图标</label>
          <input type="file" id="add_brand_logo" name="pic_url" required>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="deleted"> 已删除
          </label>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary">确认</button>
      </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
