<%var cdn_domain=think.config().cdn_domain_prefix+think.config().cdn_domain%>
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Reed</title>
  <base href="/">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
  <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">
  <!-- Ionicons -->
  <link href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.css" rel="stylesheet">
  <!-- Theme style -->
  <link rel="stylesheet" href="<%=think.config().cdn_domain%>/static/css/adminlte/adminlte.min.css">
  <link rel="stylesheet" href="<%=think.config().cdn_domain%>/static/css/adminlte/skins/skin-green.min.css">
  <link rel="stylesheet" href="<%=think.config().cdn_domain%>/static/css/app/app.css">

</head>
<body class="skin-green fixed">
  <div class="content-container">
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <div class="pull-left form-inline">
                <input type="text" class="form-control"  id="search_name" placeholder="名称" value="<%=name%>">
                <select class="form-control" name="category_code" id="search_category">
                  <option value="">图片分类</option>
                <%categorys.forEach(function(item){%>
                  <option value="<%=item.category_code%>" <%=item.category_code==category_code?"selected='selected'":""%>><%=item.category%></option>
                  <%})%>
                </select>
                <button type="button" class="btn btn-default" onclick="search()"><i class="fa fa-search"></i> 搜索</button>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-primary" onclick="add()"><i class="fa fa-plus"></i> 新增</button>
              </div>


            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="dt1" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>
                      #
                    </th>
                    <th >ID</th>
                    <th >图片</th>
                    <th >分类</th>
                    <th>分类码</th>
                    <th style="width:100px">全路径</th>
                    <th >路径部分</th>
                    <th>名称部分</th>
                    <th>排序号</th>
                    <th>备注</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                    <th>已删除</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <% var i=0;%>
                <tbody>
                  <%photos.forEach(function(item){%>
                    <tr>
                      <td>
                        <%=startPage+i++%>
                      </td>
                      <td><%=item.id%> </td>
                      <td><img src="<%=cdn_domain%><%=item.url%>" alt="" class="brand-img"/> </td>
                      <td><%=item.category%> </td>
                      <td><%=item.category_code%> </td>
                      <td><%=item.url%> </td>
                      <td><%=item.path%> </td>
                      <td><%=item.name%> </td>
                      <td><%=item.sort%> </td>
                      <td><%=item.description%> </td>
                      <td><%=item.createdat.toLocaleString()%> </td>
                      <td><%=item.updatedat.toLocaleString()%> </td>
                      <td>
                        <%if(item.deleted){%>
                          <i class="fa fa-check"></i>
                          <%}%>
                        </td>
                        <td>
                          <div class="btn-group">
                            <button class="btn btn-default btn-sm" onclick="modify(<%=item.id%>)"><i class="fa fa-edit"></i> 修改</button>
                            <button class="btn btn-primary btn-sm" onclick="menu('<%=item.uuid%>')"><i class="fa fa-bars"></i> 菜单</button>
                            <button class="btn btn-danger btn-sm" onclick="del(<%=item.id%>)"><i class="fa fa-close"></i> 删除</button>
                          </div>
                        </td>
                      </tr>
                      <%})%>

                    </tbody>

                  </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                  <%=startPage%>-<%=endPage%>条， 共<%=itemsCount%>条，<%=totalPages%>页

                  <ul class="pagination pull-right">
                    <li>
                      <a href="javascript:iframe.refresh({page:<%=currentPage-1%>})" aria-label="上一页">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <% for(var i=1; i<=Math.min(10,totalPages); i++) {%>
                      <li class="<%=i==currentPage?'active':''%>"><a href="javascript:iframe.refresh({page:<%=i%>})"><%=i%></a></li>
                      <% } %>
                      <% if(totalPages>10){%>
                        <li>
                          <a style="padding:4px" href="javascript:;"><input type="text" name="name" value="" placeholder="页码" id="__pagination_page_index" style="margin:0px;padding:0px;width:3em"></a>
                        </li>
                        <li>
                          <a href="javascript:iframe.refresh({page:$('#__pagination_page_index').val()})" aria-label="去">
                            <i class="fa fa-arrow-right"></i>
                          </a>
                        </li>
                        <%}else{%>
                          <li>
                            <a href="javascript:iframe.refresh({page:<%=currentPage+1%>})" aria-label="下一页">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                          <%}%>

                        </ul>

                      </div>
                    </div>


                  </section>
                </div>

                <div class="modal fade" tabindex="-1" role="dialog" id="add_modal"></div>

                <div class="modal fade" tabindex="-1" role="dialog" id="modify_modal"></div>

                <div class="modal fade modal-danger" tabindex="-1" role="dialog" id="delete_modal"></div>

                <div class="modal fade" tabindex="-1" role="dialog" id="menu_modal"></div>

                <script src="<%=think.config().cdn_domain%>/static/js/jquery/jquery-2.2.0.min.js"></script>
                <!-- Bootstrap 3.3.6 -->
                <script src="<%=think.config().cdn_domain%>/static/js/bootstrap/bootstrap.min.js"></script>
                <!-- FastClick -->
                <script src="<%=think.config().cdn_domain%>/static/js/plugins/fastclick/fastclick.min.js"></script>
                <script src="<%=think.config().cdn_domain%>/static/js/plugins/slimScroll/jquery.slimscroll.min.js"></script>

                <!-- AdminLTE App -->
                <script>
                var AdminLTEOptions = {
                  //Enable sidebar expand on hover effect for sidebar mini
                  //This option is forced to true if both the fixed layout and sidebar mini
                  //are used together
                  sidebarExpandOnHover: true,
                  //BoxRefresh Plugin
                  enableBoxRefresh: true,
                  //Bootstrap.js tooltip
                  enableBSToppltip: true
                };

                </script>
                <script src="<%=think.config().cdn_domain%>/static/js/app/app.js"></script>
                <script src="<%=think.config().cdn_domain%>/static/js/app/util.js"></script>
                <script type="text/javascript">
                function search(){
                  var name=$("#search_name").val().trim();
                  var category_code=$("#search_category").val();
                  if(name&&name.length>0){
                    iframe.addParam({name:name});
                  }
                  if(category_code&&category_code.length>0){
                    iframe.addParam({category_code:category_code});
                  }
                  iframe.refresh();
                }
                function modify(v) {
                  $.get("/system/photo/update",{id:v},function(r){
                    $("#modify_modal").html(r).modal('show');
                  },'html');
                }

                function del(v){
                  $.get("/system/photo/delete",{id:v},function(r){
                    $("#delete_modal").html(r).modal('show');
                  },'html');
                }
                function add() {
                  $.get("/system/photo/insert",function(r){
                    $("#add_modal").html(r).modal('show');
                  },'html');
                }
                var iframe;
                $(function(){
                  iframe=$.Reed.router.iframe();
                });
                </script>
              </body>
              </html>
