<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">修改用户组信息-<%=usergroup.name%></h4>
    </div>
    <form role="form" method="post" action="/system/usergroup/update">
      <input type="hidden" id="csrf" name="csrf" value="<%=csrf%>">
      <input type="hidden" name="id" value="<%=usergroup.id%>"/>
      <div class="modal-body">


        <div class="form-group">
          <label for="add_usergroup_name">名称</label>
          <input type="text" class="form-control" id="add_usergroup_name" name="name" placeholder="必填" value="<%=usergroup.name%>" required>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="deleted" <%=(usergroup.deleted?"checked='checked'":"")%>> 已删除
          </label>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary">确认</button>
      </div>
    </form>
  </div>
</div>
